<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>user details</h1>
    <div class="bg-gray-300 w-1/2 h-64 m-4">

    
    <div class="bg-yellow-300 m-12 justify-center p-2">
      <table class="w-full">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>password</th>
          </tr>
        </thead>

        <body>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </body>
      </table>
    </div>
  </div>
  </body>
</html>
